asgiref==3.6.0
Django==4.1.7
sqlparse==0.4.3
tzdata==2022.7
psycopg2==2.9.5
django-crispy-forms==2.0
crispy-bootstrap5==0.7
pillow==9.4.0
certifi==2022.12.7 
charset-normalizer==3.1.0 
docker==6.0.1 
idna==3.4 
packaging==23.0 
pypiwin32==305 
requests==2.28.2 
urllib3==1.26.15 
websocket-client==1.5.1
python-dotenv==1.0.0
